<!-- DOCTYPE html -->
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="container">
	    <p>SigmaDelta background estimation for Stohastic process in systems course.</p>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>